@model UserDetailsViewModel

    @{
        Layout = "null";
    }
<span class="label label-info">@Model.UserId</span>
<span class="label label-info">@Model.UserName</span>
<span class="label label-info">@Model.Email</span>
<span class="label label-info">@Model.ContactNumber</span>
<span class="label label-info">@Model.Address</span>

